In [53]:
import pandas as pd

In [54]:
df = pd.read_excel("./CSVs/Carprices.xlsx")

In [55]:
# Using pandas dummy variables
df.columns

Index(['Car Model', 'Mileage', 'Sell Price($)', 'Age(yrs)'], dtype='object')

In [56]:
dummydf = pd.get_dummies(df['Car Model'])
dummydf

    Audi A5  BMW X5  Mercedez Benz C class
0         0       1                      0
1         0       1                      0
2         0       1                      0
3         0       1                      0
4         0       1                      0
5         1       0                      0
6         1       0                      0
7         1       0                      0
8         1       0                      0
9         0       0                      1
10        0       0                      1
11        0       0                      1
12        0       0                      1

In [57]:
''' With this a multi colinearlity is create. Ie we can identify the 3rd variable with only 2 other variable. This is called as 
 dummy variable trap. This can be avoided by droppig either of a column.
 Therefore I will be dropping Audi As column.
'''

' With this a multi colinearlity is create. Ie we can identify the 3rd variable with only 2 other variable. This is called as \n dummy variable trap. This can be avoided by droppig either of a column.\n Therefore I will be dropping Audi As column.\n'

In [58]:
dummydf2 = dummydf[dummydf.columns[1:]]
dummydf2

    BMW X5  Mercedez Benz C class
0        1                      0
1        1                      0
2        1                      0
3        1                      0
4        1                      0
5        0                      0
6        0                      0
7        0                      0
8        0                      0
9        0                      1
10       0                      1
11       0                      1
12       0                      1

In [59]:
finaldf = pd.concat([df,dummydf2],axis='columns').drop(['Car Model'],axis='columns')
y = finaldf['Sell Price($)']
X = finaldf.drop(['Sell Price($)'],axis='columns')

In [60]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [61]:
X

    Mileage  Age(yrs)  BMW X5  Mercedez Benz C class
0     69000         6       1                      0
1     35000         3       1                      0
2     57000         5       1                      0
3     22500         2       1                      0
4     46000         4       1                      0
5     59000         5       0                      0
6     52000         5       0                      0
7     72000         6       0                      0
8     91000         8       0                      0
9     67000         6       0                      1
10    83000         7       0                      1
11    79000         7       0                      1
12    59000         5       0                      1

In [62]:
model.predict([[69000,6,1,0]])

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18705.2723644])

In [63]:
model.score(X,y)

0.9417050937281083

In [64]:
# Same can be done using sklearn.preprocessing's Label and One-Hot-Encoding